  a#tp {
    font-size: 20px;
    color:#E00000;
    background-color: #ffff00;
  }
  
  a.ex:hover, a.ex:active {
    font-size: 150%;
    color: #E00000;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .skip:focus, a.skip:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid #ffff00;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #58C3E9;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .grid > div{
	max-height:40px;
}

.textgrid{
	display: grid;
	grid-row-gap: 5px;
	grid-column-gap: 5px;
	grid-template-columns: auto;
    align-items: center;
    justify-items: center;

	/* Play with: */
	/* justify-content:; */
	/* justify-items:;  */
	/* align-items:; */
	/* align-content:; */
 }
 .imggrid1{
	margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  column-gap: 30px;
  justify-content: center;
 }
 .imggrid2{
	margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  column-gap: 30px;
  justify-content: center;
 }
 .imggrid3{
	margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: 70px 70px 70px 70px 70px;
  column-gap: 10px;
  justify-content: center;
 }
 .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 90%;
    text-align: center;
    
  }
  .set img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }    
  .a {
    grid-row: 1;
    text-align: center;
  }
  .b {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
  }
  .c {
    grid-column: 2;
    grid-row: 3;
  }
  .d {
    grid-column: 1;
    grid-row: 4;
  }
  .e {
    grid-column: 1;
    grid-row: 4;
  }
  .f {
    grid-row: 5;
  }
  .f {
    grid-row: 2;
    text-align: center;
  }
.box > img {
    object-fit: cover;
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
    
    .animation {
      background-color: purple;
    }
    @media (prefers-reduced-motion) {
        video {
          display: none;

        }
      }
    @media (prefers-reduced-motion: reduce) {
        .animation {
          display: none;
        }
      }

 


@media screen and (min-width: 776px){

	body{
	}

	.grid > div{
		max-height:none;
	}

	/* Make this a two column grid. */
	.grid{


		
		/* Play with: */
		/* justify-content:; */
		/* align-items:;  */


		
 	}

 	.item1{
 		 /* Span the entire first row  */
		
		  /* grid-column: ; */
 	}
	
	.item2{
		/* Start in row 2 and span 3 rows */
		/* grid-row:; */

	}

}
@media screen and (min-width: 1120px){
	body{
	}

	/* Make this a three column grid using fr. */
	.grid{

		/* Why don't we bother with justify here? */
	}
	.item3{
		/* Start in row 2 and span two rows 
		   Start in column 2 and span two columns */


		/* What happens if you try to span 3 columns */
	}

	
}


